@media screen and (max-width: 480px){
    body{
      background-color: red;
      margin: 0;
      padding: 0;
    }
}

#capcelera {
    background-color: rgb(207, 244, 237);
    border: black 1px;
    height: 120px;
    text-align: center;

}

#cos {
    background-color: rgb(68, 96, 88);
    padding: 5px;
    height: 1000px;

}

#cosdos {
    background-color: rgb(84, 72, 64);
    padding: 5px;
    height: 580px;


}

#index{
    background-color: yellow;
    margin-bottom: 55px;
    width: 100%
}

#westbrook {

  width: 40%;
}

#smart {

  width: 35%;
}

#klay {

  width: 40%;
}

#utah {

  width: 35%;
}

#simons {

  width: 35%;
}

#davis {

  width: 35%;
}

.veinte {
    background-color: rgb(55, 119, 62);
    border: black 1px ;
    margin: 2px;
    width: 18%;
    height: 50px;
    float: left;
    text-align: center;
    border: solid black 1px;
}

.coscent {
    background-color: rgb(72, 156, 72);
    border: black 1px;
    margin: 10px;
    width: 95%;
    height: 150px;
    text-align: center;
}

.menucent {
    background-color: rgb(60, 122, 47);
    border: black 1px;
    height: 75px;
    width: 95%;
    margin: 10px;
    text-align: center;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
}

h4 {
  margin: 0;
}

h2 {
  margin: 0;
}
