@media screen and (min-width: 481px){
    body{
      background-color: ;
      margin: 0;
      padding: 0;
    }


#capcelera {
    background-color: #FEC500;
    border: black 1px;
    height: 120px;
    text-align: center;

}

#fuera {
  background-color: rgb(207, 127, 82);
  display: block;
}

#cos {
    background-color: #27627F;
    padding: 5px;
    height: 1000px;
    width: 60%;
    float: left;

}

#cosdos {
    background-color: #73021B;
    padding: 5px;
    margin-left: 0px;
    width: 35%;
    float: left;
}

#index{
    background-color: yellow;
    margin-bottom: 55px;
    width: 100%;
}

#brazo {
    width: 70px;
    float: left;
    margin-top: 15px;
}

#cotxe {
    height: 50%;
}

#inundacion {
    width: 50%;
}

#pilota {
  margin-top: 2px;
  height: 40%;
}

#brenar {
  height: 50%;
}


.lateral {
  margin-top: 15px;
  float: left;
  width: 75%;
}

.veinte {
    background-color: #003D50;
    border: black 1px ;
    margin: 2px;
    width: 18%;
    height: 50px;
    float: left;
    text-align: center;
    border: solid black 1px;
}

.coscent {
    background-color: #27997F;
    border: black 1px;
    margin: 10px;
    width: 95%;
    height: 150px;
    text-align: center;
}

.menucent {
    background-color: #003D50;
    border: black 1px;
    height: 75px;
    margin: 10px;
    text-align: center;
    width: 93%;
}

h1 {
  margin: 0;
  margin-bottom: 15px;
}

h4 {
  margin: 0;
}

h2 {
  margin: 0;
}
}
